@model UserEditViewModel
@{
    ViewData["Title"] = "Редактирование пользователя";
}
<h1>Изменение роли пользователя</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="UserId" />
    <div class="form-group col-md-4">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    @* <div class="form-group col-md-4">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div> *@
    <div class="form-group col-md-4">
        <label asp-for="RoleId"></label>
        <select asp-for="RoleId" class="form-select" asp-items="@Model.Roles"></select>
        <span asp-validation-for="RoleId" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>