@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в ПреИнфоТранс</h1>
    <h3>Ваш надежный инструмент для работы с электронной предварительной информацией декларации на транспортное средство.</h3>
    <br />
    <h5><b><a href="/Epis/">Журнал:</a></b> Отслеживайте все ваши данные в реальном времени, управляйте записями и делитесь ими с коллегами.</h5>
    <h5><b><a href="/Epis/Reports">Отчёты:</a></b> Создавайте подробные отчеты с возможностью экспорта в различные форматы для удобства анализа и презентации.</h5>
    <h5><b><a href="/Epis/Charts">Графики:</a></b> Визуализируйте данные с помощью настраиваемых графиков и диаграмм, чтобы лучше понимать тенденции и паттерны.</h5>
    <h5><b><a href="/Home/Help">Инструкции по использованию:</a></b> Получите доступ к подробным руководствам и советам по оптимизации вашей работы с приложением.</h5>
    <br />
    <h3><b>Начните работу с ПреИнфоТранс сегодня и приведите управление информацией на новый уровень!</b></h3>
</div>
